[submodule "telemeta_mshs/Telemeta"]
	path = telemeta_mshs/Telemeta
	url = https://github.com/Parisson/Telemeta.git
[submodule "telemeta_mshs/mshs-telemeta"]
	path = telemeta_mshs/mshs-telemeta
	url = https://github.com/lluc/mshs-telemeta.git
